absl-py==0.12.0
aiobotocore==1.3.0
aiohttp==3.7.4.post0
aioitertools==0.7.1
astor==0.8.1
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
botocore==1.20.49
bs4==0.0.1
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
cycler==0.10.0
fsspec==2021.4.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.37.1
h5py==3.2.1
idna==2.10
importlib-metadata==4.0.1
jmespath==0.10.0
joblib==1.0.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lxml==4.6.3
Markdown==3.3.4
matplotlib==3.4.1
multidict==5.1.0
numpy==1.19.5
opencv-python==4.5.1.48
openpy==0.0.2
opt-einsum==3.3.0
parser-libraries==3.6
Pillow==8.2.0
protobuf==3.15.8
pycparser==2.20
PyMySQL==1.0.2
pyparsing==2.4.7
pyTelegramBotAPI==3.7.7
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
s3fs==2021.4.0
scikit-learn==0.24.2
scipy==1.6.3
selenium==3.141.0
six==1.15.0
sklearn==0.0
soupsieve==2.2.1
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.60.0
typing-extensions==3.10.0.0
urllib3==1.26.4
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.4.1
